input {
  padding: .35rem 1rem;
}

button {
  padding: .5rem .75rem;
  color: white;
  border: none;
  background-color: red;

  &.green {
    background-color: green;
  }

  &.blue {
    background-color: lightskyblue;
  }
}